<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Meso - Melody Social
by Napat Ratanakul and Jacky Guo

Icons Provided By
- Pixeden.com
- icons8.com
- ionicons.com

Third Party Libraries:
- MarqueeLabel by cbpowell
- LGBluetooth by DavidSahakyan
- UIImage Categories from http://vocaro.com/trevor/blog/2009/10/12/resize-a-uiimage-the-right-way/

</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
